#pixelPainter {
  display: flex;
}

#grid {
  /* display: block; */
  margin: 12px;
}

#swatch {
  margin: 12px;
}

#selectColor {
  width: 72px;
  height: 24px;
  border: 1px black solid;
  margin: 12px;
}
#clearButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#eraseButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#fillButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#eraseButton:focus {
  outline: none;
  box-shadow: 0px 0px 4px black;
}
#clearButton:focus {
  outline: none;
  box-shadow: 0px 0px 4px black;
}

#fillButton:focus {
  outline: none;
  box-shadow: 0px 0px 4px black;
}

.col {
  display: inline-block;
}

.swatchCell {
  width: 12px;
  height: 12px;
  border: solid 1px black;
}
.gridCell {
  width: 24px;
  height: 24px;
  border: solid 1px black;
  margin: 1px;
  /* background: white; */
}
