#pixelPainter {
  display: flex;
}

#grid {
  /* display: block; */
  margin: 12px;
  border: 1px black solid;
}

#swatch {
  margin: 12px;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#selectColor {
  width: 72px;
  height: 24px;
  border: 1px black solid;
  margin: 12px;
}
#clearButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#eraseButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#fillButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#saveButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#loadButton {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: 12px;
}

#eraseButton:focus {
  outline: none;
  box-shadow: 0px 0px 4px black;
}
#clearButton:focus {
  outline: none;
  box-shadow: 0px 0px 4px black;
}

#fillButton:focus {
  outline: none;
  box-shadow: 0px 0px 4px black;
}

.col {
  display: inline-block;
}

.swatchCell {
  width: 12px;
  height: 12px;
  border: solid 0.5px black;
}
.gridCell {
  width: 1vw;
  height: 1vw;
  /* border: solid 0.1px black; */
  /* margin: 1px; */
  /* background: white; */
}
